<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **30** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 35.9 MB/s eta 0:00:00:00:01
Downloading numpy-2.4.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 36.6 MB/s eta 0:00:00:00:01
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.4.0 pandas-2.3.3 tzdata-2025.3

### Step 1: Import Required Libraries

In [3]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

load the dataset using pd.read_csv()

In [4]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [7]:
## Write your code here
profile_cols = ['MainBranch', 'Employment', 'RemoteWork']
profile_dups = df.duplicated(subset=profile_cols).sum()
print(f"Profile duplicates ({profile_cols}): {profile_dups}")

profile_mask = df.duplicated(subset=profile_cols, keep=False)
print("\nFirst few profile duplicates:")
print(df[profile_mask][profile_cols + ['Country', 'Age']].head(10))

Profile duplicates (['MainBranch', 'Employment', 'RemoteWork']): 64876

First few profile duplicates:
                                          MainBranch  \
0                     I am a developer by profession
1                     I am a developer by profession
2                     I am a developer by profession
3                              I am learning to code
4                     I am a developer by profession
5                        I code primarily as a hobby
6  I am not primarily a developer, but I write co...
7                              I am learning to code
8                        I code primarily as a hobby
9                     I am a developer by profession

                                          Employment RemoteWork  \
0                                Employed, full-time     Remote
1                                Employed, full-time     Remote
2                                Employed, full-time     Remote
3                                 Student, full-time        NaN
4                                 Student, full-time        NaN
5                                 Student, full-time        NaN
6                                Employed, full-time     Remote
7  Student, full-time;Not employed, but looking f...        NaN
8                                Employed, full-time  In-person
9  Independent contractor, freelancer, or self-em...     Remote

                                             Country                 Age
0                           United States of America  Under 18 years old
1  United Kingdom of Great Britain and Northern I...     35-44 years old
2  United Kingdom of Great Britain and Northern I...     45-54 years old
3                                             Canada     18-24 years old
4                                             Norway     18-24 years old
5                           United States of America  Under 18 years old
6                           United States of America     35-44 years old
7                                         Uzbekistan     18-24 years old
8  United Kingdom of Great Britain and Northern I...     45-54 years old
9                                             Serbia     35-44 years old

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [12]:
## Write your code here
df_clean = df.drop_duplicates(subset=profile_cols, keep='first').reset_index(drop=True)
print(f"Rows removed: {len(df) - len(df_clean)}")

remaining_dups = df_clean.duplicated(subset=profile_cols).sum()
print(f"Profile duplicates remaining: {remaining_dups}")

Rows removed: 64876
Profile duplicates remaining: 0

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [18]:
## Write your code here
missing_counts = df_clean.isnull().sum()
missing_percent = (missing_counts / len(df_clean)) * 100

missing_df = pd.DataFrame({
    'Missing_Count': missing_counts,
    'Missing_%': missing_percent
}).round(2)

print("Top 10 columns with most missing values:")
print(missing_df[missing_df['Missing_Count'] > 0].sort_values('Missing_Count', ascending=False).head(10))

edlevel_missing_before = df_clean['EdLevel'].isnull().sum()
print(f"EdLevel missing before: {edlevel_missing_before}")

most_frequent_edlevel = df_clean['EdLevel'].mode()
if len(most_frequent_edlevel) > 0:
    mode_value = most_frequent_edlevel[0]
    print(f"Most frequent EdLevel: '{mode_value}'")
    df_clean['EdLevel'] = df_clean['EdLevel'].fillna(mode_value)
    edlevel_missing_after = df_clean['EdLevel'].isnull().sum()
else:
    print("No non-null EdLevel values found!")

Top 10 columns with most missing values:
                            Missing_Count  Missing_%
AINextMuch less integrated            539      96.08
AINextLess integrated                 532      94.83
ConvertedCompYearly                   461      82.17
CompTotal                             450      80.21
AINextNo change                       446      79.50
AINextMuch more integrated            428      76.29
Knowledge_7                           427      76.11
Frequency_3                           426      75.94
ProfessionalTech                      426      75.94
Knowledge_5                           425      75.76
EdLevel missing before: 0
Most frequent EdLevel: 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [19]:
## Write your code here
print("Compensation statistics:")
print(df_clean['ConvertedCompYearly'].describe())

missing_comp = df_clean['ConvertedCompYearly'].isnull().sum()
total_rows = len(df_clean)
missing_pct = (missing_comp / total_rows) * 100

print(f"\nMissing values: {missing_comp} ({missing_pct:.1f}% of {total_rows} rows)")

df_final = df_clean.dropna(subset=['ConvertedCompYearly']).reset_index(drop=True)
print(f"\nShape after dropping missing compensation: {df_final.shape}")

Compensation statistics:
count       100.000000
mean      52522.040000
std       92498.439046
min           1.000000
25%        5749.250000
50%       30611.000000
75%       63233.250000
max      803285.000000
Name: ConvertedCompYearly, dtype: float64

Missing values: 461 (82.2% of 561 rows)

Shape after dropping missing compensation: (100, 114)

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.

In [25]:
## Write your code here

print("Clean Dataset Preview:")
print(df_final[['MainBranch', 'Employment', 'EdLevel', 'Country', 'ConvertedCompYearly']].head())

print("Dataset ready for advanced analysis and visualization!")

Clean Dataset Preview:
                                          MainBranch  \
0                     I am a developer by profession
1  I am not primarily a developer, but I write co...
2  I am not primarily a developer, but I write co...
3  I am not primarily a developer, but I write co...
4                     I am a developer by profession

                                          Employment  \
0  Employed, full-time;Student, full-time;Indepen...
1  Independent contractor, freelancer, or self-em...
2  Student, full-time;Independent contractor, fre...
3             Employed, full-time;Student, full-time
4  Independent contractor, freelancer, or self-em...

                                             EdLevel  \
0  Secondary school (e.g. American high school, G...
1  Some college/university study without earning ...
2       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
4                                     Something else

                    Country  ConvertedCompYearly
0                  Pakistan               7322.0
1                     Italy             107406.0
2                     Italy               4833.0
3  United States of America             136000.0
4                   Germany              55851.0
Dataset ready for advanced analysis and visualization!

Copyright © IBM Corporation. All rights reserved.